<div class="app {{ frameworkClass }}">
  {{#if (eq frameworkClass "bulma")}}
    {{partial "index/bulma"}}
  {{else}}
    <div class="app__top">

      <nav class="top-nav">
        <div class="top-nav__group">
          {{#link-to "home" }} <img src="/images/logo.png" class="top-nav__logo" alt="">{{/link-to}}
        </div>
        <ul class="top-nav__group">
          <li class="top-nav__item"> <a href="#">Blog </a> </li>
          <li class="top-nav__item"> <a href="#"> About </a> </li>
          <li class="top-nav__item"> <a href="#"> Contact </a> </li>
        </ul>
      </nav>

      <div class="hero">
        <span class="hero__welcome">
  <h1 class="hero__welcome-headline">Hi there!</h1>
    <h3 class="hero__welcome-tagline">I am quippy tagline. Keep reading on for more fun!</h3>
</span>
      </div>
    </div>

    <div class="app__section">
      <div class="container">
      </div>
    </div>

    <div class="container">
      <div class="section">
        <h2 class="about">ABOUT ME</h2>
        <p class="about__paragraph">
          <h3 class="about__paragraph-breakout">I had six wisdom teeth removed. You can say I'm a bit of an over-acheiver.</h3> I am a Belmont University and Iron Yard Nashville graduate. After working in public relations and economic development at the Nashville Area Chamber of Commerce, I'm well versed in client side communication and project management. Before my
          time at the Chamber I worked in a public relations agency setting at McNeely Pigott & Fox Public Relations and DVL Seiganthaler Public Relations and Advertising.
        </p>

        <h2 class="promise">PROMISE</h2>
        <p class="promise__paragraph">
          If you hire me you'll get a hard worker, deliberate learner, and occasional bring baked goods to work gal.
        </p>
      </div>

      <div class="grid">

        {{!-- todo: FIX HOVER STATE --}}
        <div class="grid__item">
          <div class="card">
            <div class="project__image">
              <img src="http://www.placecera.com/g/200/300" class="project__image-pic" alt="cera" background-size="cover">
              <p class="project__image-text">
                I am some text that should hover.
              </p>
            </div>
          </div>
        </div>

        <div class="grid__item">
          <div class="card">
            <div class="project__image">
              <img src="http://www.placecera.com/g/200/300" class="project__image-pic" alt="cera" background-size="cover">
              <p class="project__image-text">
                I am some text that should hover.
              </p>
            </div>
          </div>
        </div>

        <div class="grid__item">
          <div class="card">
            <div class="project__image">
              <img src="http://www.placecera.com/g/200/300" class="project__image-pic" alt="cera" background-size="cover">
              <p class="project__image-text">
                I am some text that should hover.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <h1 class="portfolio__frameworks">VIEW MY PORTFOLIO IN</h1>
        <div class="portfolio__frameworks-flex">

          <a class="portfolio__frameworks-name" {{action "changeStyle" "bulma"}}> BULMA </a>
          <a class="portfolio__frameworks-name" {{action "changeStyle" "materialize"}}> MATERIALIZE </a>
          <a class="portfolio__frameworks-name" {{action "changeStyle" "bootstrap"}}> BOOTSTRAP </a>{{!-- to-do: FIX FOOTER DISPLAY --}}

        </div>

        <footer>
          <div class="bottom__nav">
            <div class="bottom__nav--icons">
              <i class="fa fa-facebook" aria-hidden="true"> </i>
              <i class="fa fa-twitter" aria-hidden="true"> </i>{{!-- <img src="./img/logo.svg" class= "bottom__nav--logo" alt="spiral logo"> --}}
              <i class="fa fa-heart" aria-hidden="true"> </i>
              <i class="fa fa-github" aria-hidden="true"> </i>
            </div>
          </div>
        </footer>
      </div>
    </div>
  {{/if}}
</div>
